input {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px 10px 2px 20px;
    margin-right: 10px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: black;
    color: #fff;
    transition: 0.5s all;
}

